## Tidy

In [26]:
import pandas as pd
import numpy as np
import copy 

# Odczytanie pliku csv
ds = pd.read_csv('../OriginalData/swietokrzyskie.csv', index_col=0)

# 5 pierwszych rekordów
ds.head(5)

   Dni od zakupu  Marka  Wiek kupującego Płeć kupującego  Ocena
0              7   Beko             33.0               M    3.0
1              7   Beko             55.0             bd.    3.0
2             10   Beko             50.0               M    2.0
3             11  Tefal             36.0               M    2.5
4              3   Beko             62.0               K    2.5

In [27]:
# Głęboka kopia oryginalnych danych
ds_clear = copy.deepcopy(ds)

# Mapowanie opisu 'bd.' na wartość None, wyświetlenie wyniku
ds_clear['Płeć kupującego'] = ds_clear['Płeć kupującego'].map({'bd.': None, 'K': 'K', 'M': 'M'})
ds_clear.head(5)

   Dni od zakupu  Marka  Wiek kupującego Płeć kupującego  Ocena
0              7   Beko             33.0               M    3.0
1              7   Beko             55.0            None    3.0
2             10   Beko             50.0               M    2.0
3             11  Tefal             36.0               M    2.5
4              3   Beko             62.0               K    2.5

In [28]:
# Zapis do nowego pliku csv
ds_clear.to_csv(path_or_buf='../AnalysisData/swietokrzyskie_clean.csv', index=False)